<!DOCTYPE html>
<html lang="en">
<head>
	<title>Precautions-Covid19</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="icon" href="images/virus.png" >
	<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 <script type="text/javascript" src="script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<style type="text/css">
		@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
  list-style-position: inside;

}

.center,h3{
  text-align: center;
}
h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}
.note{
	 list-style-type: none;
	text-align: center;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}
h3{
  color: #FB667A;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 ,nav{
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container tbody a{
	text-decoration: none;
	color: #FB667A;

}
.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
	  text-decoration: underline;
}
.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.Total{
	background-color: black;
	color: white;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
input[type=search] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.6s ease-in-out;
  autocomplete="off";
}

input[type=search]:focus {
  width: 90%;
}

nav{
	display: fixed;
	top: 0;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #FB667A;    }
    49%{    color: #FB667A; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #FB667A;    }
}

	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2C3446;">
  <a class="navbar-brand" href="/" style="color: white;">Covid19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" >
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/precautions"   style="color: white;">Precautions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq"  style="color: white;">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white;">About</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Precautions</h1>
<h4 class="center">(Precaution is better than cure)</h4>
<div style="padding: 20px;">
	<h3>1. Keep Yourself and Surroundings Clean</h3>
  <div class="center"><img src="images/clean.jfif" class="rounded-circle" style="height: 30%; width: 30%;"></div><br>
  <p>Preventative measures are your first line of defense. The best way to protect yourself from COVID-19 is to practice good hygiene and to make these CDC recommendations part of your routine:</p>
  <ul>
    <li>Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.</li>
    <li>If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol. Always wash hands with soap and water if hands are visibly dirty.</li>
    <li>Avoid touching your eyes, nose, and mouth with unwashed hands.</li>
    <li>Avoid close contact with people who are sick.</li>
  </ul>



	<h3>2. Wear Masks When You Move Outside</h3>
  <div class="center"><img src="images/mask.jfif" class="rounded-circle" style="height: 30%; width: 30%;"></div><br>
  <p>You may have noticed a growing number of people out and about with their faces covered, but the CDC does not currently recommend the use of face masks among the general public.</p>
  <p>As noted above, face masks should be used by people who show COVID-19 symptoms to help prevent the spread of the disease to others. The use of face masks is also crucial for health workers and people who are taking care of someone in close settings (at home or in a health care facility).</p>



	<h3>3. Maintain Social Distance</h3>
    <div class="center"><img src="images/distance.png" class="rounded-circle" style="height: 30%; width: 30%;"></div><br>
  <p>The CDC recommends maintaining a distance of approximately 6 feet from others in public places since respiratory droplets produced by coughing or sneezing do not travel more than 6 feet. While at home, remind everyone to practice everyday preventive actions – such as washing hands and wiping down surfaces – to help reduce the risk of getting sick. </p>
  <p>If you are symptomatic and have tested positive for COVID-19 but do not require hospitalization, you should stay in a specific “sick room” and away from other people in your home as much as possible and use a separate bathroom, if available. If your living space makes it difficult to keep a 6-foot distance, stay as far apart as you can and continue to practice good hygiene and wear a mask.</p>

</ol>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>